
/.vs
/GlobularsAdminAppBackend.Api/bin
/GlobularsAdminAppBackend.Api/obj
/GlobularsAdminAppBackend.Domain/obj
/GlobularsAdminAppBackend.Infrastructure/bin
/GlobularsAdminAppBackend.Infrastructure/obj
/GlobularsAdminAppBackend.Domain/bin
/GlobularsAdminAppBackend.Api/Properties
/GlobularsAdminAppBackend.Api/bin
/GlobularsAdminAppBackend.Domain/obj
/GlobularsAdminAppBackend.Api/obj
/GlobularsAdminAppBackend.Domain/obj
/GlobularsAdminAppBackend.Infrastructure/obj
