
/.vs
/GlobularsAdmin.Api/bin
/GlobularsAdmin.Api/obj
/GlobularsAdmin.Domain/obj
/GlobularsAdmin.Infrastructure/bin
/GlobularsAdmin.Infrastructure/obj
/GlobularsAdmin.Domain/bin
/GlobularsAdmin.Api/Properties
/GlobularsAdmin.Api/bin
/GlobularsAdmin.Domain/obj
/GlobularsAdmin.Api/obj
/GlobularsAdmin.Domain/obj
/GlobularsAdmin.Infrastructure/obj
