
/.vs
/GBS.Api/bin
/GBS.Api/obj

/GBS.Entities/bin
/GBS.Entities/obj

/GBS.Service/bin
/GBS.Service/obj


/GBS.Data/bin
/GBS.Data/obj

/GBS.Api/.vs
GBS.Api/appsettings.json
GBS.Api/appsettings.Development.json
GBS.Api/Properties/PublishProfiles/FolderProfile.pubxml
GBS.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
